:root {
    --titlebarHeight: 30px;
}
#About { background-color: orange; }
button, .fixed, input  { font-family: Oswald, sans-serif; }
#Contact { background-color: blue; }
#container { margin-top: var(--titlebarHeight); }
.content { animation: fadeEffect .38s; color: white; display: none; font-family: Abel, sans-serif; height: 100vh; padding: 100px 20px; vertical-align: middle; }
.fixed { background: white; font-weight: bold; height: var(--titlebarHeight); line-height: var(--titlebarHeight); position: fixed; text-align: center; top: 0; width: 100vw; }
input { box-sizing: border-box; height: 30px; line-height: 30px; overflow: hidden; padding: 4px; width:100% }
label { font-size: 1.38em; }
label span { display: block; background-color: rgb(215, 215, 215); border-radius: .25em; border: 1px solid rgb(114, 114, 114); margin-top: .38em; }
#Login { background-color: red; }
#login-box { background: blue; margin: auto; padding: 20px; height: 38vw; width: 38vw; }
[class^='login-button'] { background-color: transparent; border: 0; border-radius: 3px; display: block; margin-top: 30px; }
[class^='login-button']:hover { cursor: pointer; }
.login-button { font-size: 1.38em; padding: 10px 0px; width: 100%; }
.login-button:hover { background-color: red; }
.login-button2 { float:left; width: 50%; }
.login-button2:hover { color: red; }
#skull { margin-top: 50px; }
.tablink { background-color: #555; border: none; color: white; cursor: pointer; float: left; font-size: 1.62em; outline: none; transition: .62s; padding: 14px 16px; width: 12.5%; }
.tablink:hover { background-color: #777; }
  
@keyframes fadeEffect { from {opacity: 0;} to {opacity: 1;} }

    /* start of desktop styles */

    @media screen and (max-width: 991px) {
        /* start of large tablet styles */
        .title-inner {
            font-size: 4.24em;
            line-height: 1em;
        }
    }
    
    @media screen and (max-width: 768px) {
        /* start of medium tablet styles */
        .tablink {
            width: 25%;
        }
    }
    
    @media screen and (max-width: 480px) {
        /* start of phone styles */
        label {
            font-size: 1em;
        }
        .tablink {
            font-size: 1em;
            width: 25%;
        }
    }